In [1]:
import netCDF4 as nc
import netcdftime
import pandas as pd
pd.options.display.float_format = '{:,.2f}'.format
import numpy as np
np.set_printoptions(precision=3, suppress=True)
from scipy import spatial
from tqdm import tqdm

import glob

from netcdftools import MyNetCDF

In [2]:
lat = 80
lon = 90

In [3]:
filename = 'conc_y2016.nc'

In [5]:
dset = nc.Dataset(filename)
myNC = MyNetCDF(dset)
idxs, truecoords = myNC.coords_to_index([lat, lon])
variables = ['ice_conc']

In [9]:
data = []
time = []
for i, date in enumerate(dset.variables['time'][:]):
    data.append(myNC.extract_point(x=idxs[0], y=idxs[1], time=i, variables=variables))
    time.append(myNC.file_time(i))

In [13]:
pd.DataFrame(data=data, index=time)

             0
20160101 85.74
20160102 86.89
20160103 90.79
20160104 91.41
20160105 90.34
20160106 92.09
20160107 92.53
20160108 93.35
20160109 93.82
20160110 94.72
20160111 95.02
20160112 92.08
20160113 90.26
20160114 90.16
20160115 91.55
20160116 90.85
20160117 92.13
20160118 93.86
20160119 93.98
20160120 92.51
20160121 92.59
20160122 93.64
20160123 93.74
20160124 93.10
20160125 92.89
20160126 95.29
20160127 96.44
20160128 95.28
20160129 94.11
20160130 94.62
...        ...
20161202 59.78
20161203 76.55
20161204 65.61
20161205 77.02
20161206 67.66
20161207 64.69
20161208 71.62
20161209 75.39
20161210 79.70
20161211 82.40
20161212 82.66
20161213 87.43
20161214 88.75
20161215 90.75
20161216 90.24
20161217 91.17
20161218 92.68
20161219 94.96
20161220 93.37
20161221 73.59
20161222 63.24
20161223 64.50
20161224 72.38
20161225 78.48
20161226 79.61
20161227 77.40
20161228 78.73
20161229 78.38
20161230 73.74
20161231 66.10

[366 rows x 1 columns]